/*.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}

.fondoAzul{
    background-color: #00416B;
    color: white;
}

.fondoVerde{
    background-color: #00D0CA;
    color: white;
}

.imagenPuntosLineas{
    background-image: url('../img/1091.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    box-sizing: border-box;
    margin: 0px;
  }
  
  body,html{
    width: 100%;
    height: 100%;
  }

  .textoInicioSesion{
      padding: 0.8% 4% 0.8% 4%;
      border-radius: 20px 20px 20px 20px;
      background-color: #0076a7;
      color: white;
      font-weight: bold;
  }

.number ::-webkit-inner-spin-button,
.number ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number {
    -moz-appearance: textfield;
}*/


body{
    /*position:relative;min-width:950px;padding-top:15px;*/
    background:#7F7F7F url("../img/bckgrnd_02.jpg")repeat center top scroll;
    width: 100%;
    height: 100%;
}


/* FOOTER */

.footer-main {
    padding: 70px 10px;
    background: #363636;
    z-index: 1;
  }

  .block-2{
      color: white;
      font-weight: bold;
  }

  .text-white{
      color: white;
  }

  #hero-area_About {
    background: url("../img/worshop/location_2.jpeg")  100%;
    /*background-size: 10% 10%;*/
    margin-top: 102px;
    padding-top: 102px;
    background-size: 100%;
    padding: 180px 0;
    color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    position: relative;
    align-items: center;
    text-align: center;
  }
  
  #hero-area_About:before {
    content: '';
    z-index: 9;
    background: rgba(0, 0, 0, 0.59);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #hero-area_About .block {
    position: relative;
    z-index: 999;
  }

  #hero-area {
    background: url("../img/new_era_body_shop_large.jpg")  100%;
    /*background-size: 10% 10%;*/
    margin-top: 102px;
    padding-top: 102px;
    background-size: 100%;
    padding: 180px 0;
    color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    position: relative;
    align-items: center;
    text-align: center;
  }
  
  #hero-area:before {
    content: '';
    z-index: 9;
    background: rgba(0, 0, 0, 0.59);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  #hero-area .block {
    position: relative;
    z-index: 999;
  }
  
  #hero-area h1 {
    font-size: 40px;
    line-height: 50px;
    color: #333;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  #hero-area h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 38px;
    line-height: 27px;
    text-transform: uppercase;
    color: #666;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
  }
  
  #hero-area .btn {
    background: #414141;
    border: none;
    color: #fff;
    padding: 20px 35px;
    margin-top: 30px;
    font-size: 16px;
    font-size: 13px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: normal;
    border-radius: 0;
  }

  .dorderGlass{
    margin-bottom: 5%;
    box-shadow: 5px 5px 100px 30px #CCB9AA;
    border: #0364A0 solid;
    border-radius: 50px;
    background-color: #363636;
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
  }

  
  .dorderGlass_1{
    margin-bottom: 5%;
    box-shadow: 5px 5px 100px 30px #CCB9AA;
    border-radius: 40px;
    background: linear-gradient(70deg, #0A6065, black);
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
  }
  
  .dorderGlass_2{
    box-shadow: 5px 5px 100px 30px #CCB9AA;
    border-radius: 40px;
    background: linear-gradient(70deg, black, white);
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
  }

  .backGlass{
    /*position:relative;min-width:950px;padding-top:15px;*/
    background: url("../img/takenGlass.png") no-repeat center top scroll;
    color: white;
    width: 100%;
    height: 100%;
}

.ourWork{
  background-color: #BABABA;
  color: black;
  font-weight: bold;
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
  border-radius: 40px;
}

 